body {
    font-family: 'Josefin Sans', sans-serif;
    background-image: './static/images/cards/backgroundimage.jpg'
}

.header {
    background-color: #AA3939;
    padding: 5px;
    color: #ece7e7;
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
}

p {
    font-family: 'Josefin Sans', sans-serif; 
    text-align: center;
}

CardHeader {
    font-family: 'Josefin Sans', sans-serif; 
}

/* .card {
    max-width: 300px;
    text-align: center;
    align-self: center;
} */

.CookbookDiv {
    padding-top: 3%;
    text-align: center;
    width: 300px;
   
}


.cookbook {
    padding: 3%;
    text-align: center;
    width: 350px;
    display: inline-block;
}

.recipe {
    padding: 3%;
    text-align: center;
    width: 350px;
}

.homeIcon {
    float: left;
}

.instructions h1 {
    font-size: 24px;
    font-weight: 700;
}

.instructions {
    background-color: #AA3939;
    padding: 5px;
    color: #ece7e7;
    
}

form {
    background-color: #dbd5d5;
    width: 30%;
    height: 250px;
    margin: 20px auto;
    padding: 25px;
    border-radius: 2px;
    font-family: 'Josefin Sans', sans-serif;
}

input {
    margin: 5px;
    margin-bottom: 10px;
    font-family: 'Josefin Sans', sans-serif;
}

input[type="submit"] {
    margin: 10px;
    font-family: 'Josefin Sans', sans-serif;
}

.message {
    padding: 10px 0;
    font-family: 'Josefin Sans', sans-serif;
}

.message p {
    margin-left: 10px;
    font-family: 'Josefin Sans', sans-serif;
}

.message:nth-child(odd) {
     background-color: #eeeeee;
}

.message:nth-child(even) {
    background-color: #f8f8f8;
}

.navbar {
  background-color:  #AA3939;
  width: 100%;
  border-radius: 0px;
  font-family: 'Josefin Sans', sans-serif;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Josefin Sans', sans-serif;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

/* Change the link color to #111 (black) on hover */
li a:hover {
    text-decoration: underline;
    color: #eee;
}
